dataops/adf/arm-template/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "refmlops-adf"
		},
		"AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
		},
		"AzureMLService_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureMLService'"
		},
		"AzureMLService_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "0fe1cc35-0cfa-4152-97d7-5dfb45a8d4ba"
		},
		"AzureMLService_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "devops-ds-oh-rg"
		},
		"AzureMLService_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "6e85e789-3b22-4edb-89d0-2ab7fc09d488"
		},
		"AzureMLService_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"data-ingestion-pipeline_properties_variables_data_file_name_defaultValue": {
			"type": "string",
			"defaultValue": "porto_seguro_safe_driver_prediction_train.csv"
		},
		"data-ingestion-pipeline_properties_variables_input_mount_point_name_defaultValue": {
			"type": "string",
			"defaultValue": "/mnt/inputdata"
		},
		"data-ingestion-pipeline_properties_variables_training_mount_point_name_defaultValue": {
			"type": "string",
			"defaultValue": "/mnt/trainingdata"
		},
		"data-ingestion-pipeline_properties_variables_testing_mount_point_name_defaultValue": {
			"type": "string",
			"defaultValue": "/mnt/testingdata"
		},
		"data-ingestion-pipeline_properties_variables_ml_pipeline_id_defaultValue": {
			"type": "string",
			"defaultValue": "b07adefa-f77a-4b5f-be8d-1d0ec6b4ab5d"
		},
		"data-ingestion-pipeline_properties_variables_databricks_cluster_id_defaultValue": {
			"type": "string",
			"defaultValue": "0304-001904-vest3"
		},
		"OnDataDrop_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2dde3eaa-de32-4028-9a7d-032bde54b663/resourceGroups/ref-mlopspython-rg/providers/Microsoft.Storage/storageAccounts/refmlopsamlsa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"databricks_cluster_id": {
						"type": "string",
						"defaultValue": "0304-001904-vest3"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://westus2.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "@linkedService().databricks_cluster_id"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMLService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('AzureMLService_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureMLService_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "mlops-AML-WSt",
					"servicePrincipalId": "[parameters('AzureMLService_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureMLService_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureMLService_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data-ingestion-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data Ingestion Pipeline\n",
				"activities": [
					{
						"name": "PrepareData",
						"description": "Data processing",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/devops-ds/data-prepare",
							"baseParameters": {
								"data_file_name": {
									"value": "@variables('data_file_name')",
									"type": "Expression"
								},
								"input_mount_point_name": {
									"value": "@variables('input_mount_point_name')",
									"type": "Expression"
								},
								"training_mount_point_name": {
									"value": "@variables('training_mount_point_name')",
									"type": "Expression"
								},
								"testing_mount_point_name": {
									"value": "@variables('testing_mount_point_name')",
									"type": "Expression"
								},
								"adf_run_id": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"libraries": [
								{
									"pypi": {
										"package": "lightgbm"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference",
							"parameters": {
								"databricks_cluster_id": {
									"value": "@variables('databricks_cluster_id')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ML Execute Pipeline",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [
							{
								"activity": "PrepareData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": {
								"value": "@variables('ml_pipeline_id')",
								"type": "Expression"
							},
							"experimentName": "Retrain",
							"mlPipelineParameters": {
								"caller_run_id": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"data_file_path": {
									"value": "@concat(pipeline().RunId,'/',variables('data_file_name'))",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"data_file_name": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_data_file_name_defaultValue')]"
					},
					"input_mount_point_name": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_input_mount_point_name_defaultValue')]"
					},
					"training_mount_point_name": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_training_mount_point_name_defaultValue')]"
					},
					"testing_mount_point_name": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_testing_mount_point_name_defaultValue')]"
					},
					"ml_pipeline_id": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_ml_pipeline_id_defaultValue')]"
					},
					"databricks_cluster_id": {
						"type": "String",
						"defaultValue": "[parameters('data-ingestion-pipeline_properties_variables_databricks_cluster_id_defaultValue')]"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureMLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnDataDrop')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "data-ingestion-pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputdata/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('OnDataDrop_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/data-ingestion-pipeline')]"
			]
		}
	]
}